@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
  font-family: 'Android';
  src:url('../fontes/idroid.otf') format('opentype');
  src:url('../fontes/idroid.ttf')format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fontepadrao: Arial, Verdana, Helvetica, Sans-Serif;
    --fontedestaque:"Bebas Neue", sans-serif;
    --fonteandroid: 'Android', sans-serif;
  
    
}
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #c5ebd6;
    font-family: var(--fontepadrao);
}

a.externo::after{
    content: '\00A0\1F517';
}
header{
    background-image: linear-gradient(to bottom, var(--cor1),var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    
}
header h1{
    font-family: var(--fontedestaque);
    color: white;
    margin-bottom: 20px;
    font-size: 4em;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
    
}

header p{
    color: white;
    font-family: var(--fontedestaque);
    font-size: 1.5em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.614);
}

nav a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
    
}

nav a:hover{
    color: var(--cor5);
    background-color: var(--cor2);
    border-radius: 8%;
    font-size: 1.2em;
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.87);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main article h1 {
  font-family: 'Android', sans-serif;
  color: var(--cor4);
  background-image: linear-gradient(to right, var(--cor2), transparent);
  padding-left: 10px;
  
}
main article h2{
    font-family: var(--fonteandroid);
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor2), transparent);
    padding-left: 10px;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong{
    color: var(--cor5);
    font-weight: bold;    
    padding: 2px 6px;
}

main a{
    text-decoration: none;
    color: var(--cor5);
    font-weight: bold;
    background-color: var(--cor0);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    font-size: 1.1em;
}

main img{
    width: 100%;    
}

main img.pequeno{
    max-width: 350px;
    margin:auto;
    display: block;

}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.553);
}

aside h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    font-family:var(--fontepadrao);
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;

}

aside ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
    font-weight: bold;
}

div.video{
    background-color: var(--cor4);
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;    
}

footer p:hover{
    font-size: 1.2em;
}
